<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div align="center">
      <h1>Smart Devices</h1>
      <p>La tecnología a su alcance</p>
    </div>
  </div>

  <div >
    
    <app-device-list [limit]="2" [config]="listConfig" class="container-flex"></app-device-list>
      

      <!--<div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>-->

    
  </div>
</div>
