
<!-- device's result (filterData)="onFilterDat($event)"" -->
<app-device-preview *ngFor="let device of results" 
[devices]="device" class="home-list__box">
</app-device-preview>


<!-- information before to see the result -->
<div [hidden]="!loading">
    Loading devices...
</div>


<!-- pagination -->
<nav [hidden]="loading || totalPages.length <= 1" class="pagination container-flex">
    <div class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
        (click)="setPageTo(pageNumber)">
        <a class="page-link">{{ pageNumber }}</a>
    </div>
</nav>


<select class="probo" (change)="onChange($event)">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="5">5</option>
</select>